# Reporte de Análisis III

## Inmuebles Residenciales

In [1]:
import pandas as pd

In [2]:
datos = pd.read_csv('alquiler.csv', sep = ';')

In [3]:
datos.head(10)

                 Tipo     Distrito  Cuartos  ...    Valor  Mantenimiento  Impuesto
0          Habitación    San Borja        1  ...   1700.0          500.0      60.0
1                Casa   Lurigancho        2  ...   7000.0            NaN       NaN
2     Local comercial          Ate        0  ...   5200.0         4020.0    1111.0
3        Departamento   Pachacámac        1  ...    800.0          390.0      20.0
4        Departamento          Ate        1  ...    800.0          230.0       NaN
5        Departamento     Barranco        3  ...   1200.0            NaN       NaN
6        Departamento        Comas        2  ...   1300.0          301.0      17.0
7  Casa en condominio          Ate        5  ...  22000.0            NaN       NaN
8  Casa en condominio  El Agustino        2  ...   1000.0            NaN       NaN
9     Local comercial   Pachacámac        0  ...  35000.0        19193.0    3030.0

[10 rows x 9 columns]

In [4]:
list(datos['Tipo'].drop_duplicates())

['Habitación',
 'Casa',
 'Local comercial',
 'Departamento',
 'Casa en condominio',
 'Edificio completo',
 'Flat',
 'Tienda/Salón',
 'Almacén',
 'Casa comercial',
 'Casa de villa',
 'Terreno',
 'Cochera',
 'Loft',
 'Tienda en Centro Comercial',
 'Chacra',
 'Terreno em condominio',
 'Oficina',
 'Chalet',
 'Studio',
 'Hotel',
 'Local industrial']

In [5]:
residencial = ['Habitación',
 'Casa',
 'Departamento',
 'Casa en condominio',
 'Casa de villa']

In [6]:
residencial

['Habitación', 'Casa', 'Departamento', 'Casa en condominio', 'Casa de villa']

In [7]:
datos.head(10)

                 Tipo     Distrito  Cuartos  ...    Valor  Mantenimiento  Impuesto
0          Habitación    San Borja        1  ...   1700.0          500.0      60.0
1                Casa   Lurigancho        2  ...   7000.0            NaN       NaN
2     Local comercial          Ate        0  ...   5200.0         4020.0    1111.0
3        Departamento   Pachacámac        1  ...    800.0          390.0      20.0
4        Departamento          Ate        1  ...    800.0          230.0       NaN
5        Departamento     Barranco        3  ...   1200.0            NaN       NaN
6        Departamento        Comas        2  ...   1300.0          301.0      17.0
7  Casa en condominio          Ate        5  ...  22000.0            NaN       NaN
8  Casa en condominio  El Agustino        2  ...   1000.0            NaN       NaN
9     Local comercial   Pachacámac        0  ...  35000.0        19193.0    3030.0

[10 rows x 9 columns]

In [8]:
seleccion = datos['Tipo'].isin(residencial)
seleccion

0         True
1         True
2        False
3         True
4         True
         ...
32955     True
32956     True
32957     True
32958     True
32959    False
Name: Tipo, Length: 32960, dtype: bool

In [9]:
datos_residencial = datos[seleccion]

In [10]:
datos_residencial

               Tipo     Distrito  Cuartos  ...   Valor  Mantenimiento  Impuesto
0        Habitación    San Borja        1  ...  1700.0          500.0      60.0
1              Casa   Lurigancho        2  ...  7000.0            NaN       NaN
3      Departamento   Pachacámac        1  ...   800.0          390.0      20.0
4      Departamento          Ate        1  ...   800.0          230.0       NaN
5      Departamento     Barranco        3  ...  1200.0            NaN       NaN
...             ...          ...      ...  ...     ...            ...       ...
32953  Departamento  Santa Anita        2  ...   900.0          490.0      48.0
32955    Habitación   Pachacámac        0  ...   800.0          350.0      25.0
32956  Departamento        Lince        3  ...  1800.0          800.0      40.0
32957  Departamento        Rímac        2  ...  1400.0          509.0      37.0
32958  Departamento        Rímac        2  ...  3000.0          760.0       NaN

[22580 rows x 9 columns]

In [11]:
list(datos_residencial['Tipo'].drop_duplicates())

['Habitación', 'Casa', 'Departamento', 'Casa en condominio', 'Casa de villa']

In [12]:
datos_residencial.shape[0]

22580

In [13]:
datos.shape[0]

32960

In [14]:
datos_residencial.index = range(datos_residencial.shape[0])

In [15]:
datos_residencial

               Tipo     Distrito  Cuartos  ...   Valor  Mantenimiento  Impuesto
0        Habitación    San Borja        1  ...  1700.0          500.0      60.0
1              Casa   Lurigancho        2  ...  7000.0            NaN       NaN
2      Departamento   Pachacámac        1  ...   800.0          390.0      20.0
3      Departamento          Ate        1  ...   800.0          230.0       NaN
4      Departamento     Barranco        3  ...  1200.0            NaN       NaN
...             ...          ...      ...  ...     ...            ...       ...
22575  Departamento  Santa Anita        2  ...   900.0          490.0      48.0
22576    Habitación   Pachacámac        0  ...   800.0          350.0      25.0
22577  Departamento        Lince        3  ...  1800.0          800.0      40.0
22578  Departamento        Rímac        2  ...  1400.0          509.0      37.0
22579  Departamento        Rímac        2  ...  3000.0          760.0       NaN

[22580 rows x 9 columns]

## Exportando la Base de Datos

In [16]:
datos_residencial.to_csv('alquiler_residencial.csv', sep = ';')

In [17]:
datos_residencial_2 = pd.read_csv('alquiler_residencial.csv', sep = ';')

In [18]:
datos_residencial_2

       Unnamed: 0          Tipo     Distrito  ...   Valor  Mantenimiento  Impuesto
0               0    Habitación    San Borja  ...  1700.0          500.0      60.0
1               1          Casa   Lurigancho  ...  7000.0            NaN       NaN
2               2  Departamento   Pachacámac  ...   800.0          390.0      20.0
3               3  Departamento          Ate  ...   800.0          230.0       NaN
4               4  Departamento     Barranco  ...  1200.0            NaN       NaN
...           ...           ...          ...  ...     ...            ...       ...
22575       22575  Departamento  Santa Anita  ...   900.0          490.0      48.0
22576       22576    Habitación   Pachacámac  ...   800.0          350.0      25.0
22577       22577  Departamento        Lince  ...  1800.0          800.0      40.0
22578       22578  Departamento        Rímac  ...  1400.0          509.0      37.0
22579       22579  Departamento        Rímac  ...  3000.0          760.0       NaN

[22580 rows x 10 columns]

In [19]:
datos_residencial.to_csv('alquiler_residencial.csv', sep = ';', index = False)

In [20]:
datos_residencial_2 = pd.read_csv('alquiler_residencial.csv', sep = ';')

In [21]:
datos_residencial_2

               Tipo     Distrito  Cuartos  ...   Valor  Mantenimiento  Impuesto
0        Habitación    San Borja        1  ...  1700.0          500.0      60.0
1              Casa   Lurigancho        2  ...  7000.0            NaN       NaN
2      Departamento   Pachacámac        1  ...   800.0          390.0      20.0
3      Departamento          Ate        1  ...   800.0          230.0       NaN
4      Departamento     Barranco        3  ...  1200.0            NaN       NaN
...             ...          ...      ...  ...     ...            ...       ...
22575  Departamento  Santa Anita        2  ...   900.0          490.0      48.0
22576    Habitación   Pachacámac        0  ...   800.0          350.0      25.0
22577  Departamento        Lince        3  ...  1800.0          800.0      40.0
22578  Departamento        Rímac        2  ...  1400.0          509.0      37.0
22579  Departamento        Rímac        2  ...  3000.0          760.0       NaN

[22580 rows x 9 columns]